<div id="change-password">
    <div class="page-title text-center">
        <h1>{{'home.change_password' | translate}}</h1>
    </div>

    <div class="form-wrapper">
        <div class="content">
            <form [formGroup]="form" class="form">
                <div class="row">
                    <div class="col-6 text-right">
                        <label>{{'change_password.current_password' | translate}}:</label>
                    </div>
                    <div class="col-6">
                        <div class="item-wrapper" [ngClass]="validate.displayFieldCss(form, 'current_password')">
                            <input [placeholder]="'change_password.type_your_current_password' | translate"
                                   name="current_password" [(ngModel)]="info.current_password"
                                   formControlName="current_password" type="password">
                        </div>
                    </div>
                </div>

                <div class="item-wrapper text-right">
                    <button class="submit-btn bg-success" (click)="save()">{{'common.save' | translate}}</button>
                    <button class="submit-btn bg-danger" (click)="cancel()">{{'common.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

