#forgot-password-dialog {
    input {
        width: 100%;
        border: 1px solid #e1e3e6;
        font-size: 20px;
        line-height: 50px;
        padding-left: 10px;
        border-radius: 5px;
    }

    button {
        border: none;
        padding: 0px 15px;
        font-size: 18px;
        height: 45px;
        border-radius: 5px;
        color: white;
        font-weight: bold;

    }
}