<div id="forgot-password-dialog">
    <div class="row">
        <div class="col-4 text-right">
            <label>{{'register_admin.email' | translate}}:</label>
        </div>
        <div class="col-8">

            <input [placeholder]="'register_admin.email' | translate"
                   name="email" [(ngModel)]="email" type="text">

        </div>
    </div>

    <div class="item-wrapper text-right mt-4">
        <button class="submit-btn bg-success" (click)="send()">{{'common.send' | translate}}</button>
        <button class="submit-btn bg-danger" (click)="cancel()">{{'common.cancel' | translate}}</button>
    </div>
</div>