#manage-product {
    .container {
        .content {
            padding-top: 50px;

            .table {
                border: 1px solid #DDE1E5;
                thead {
                    background-color: #96989A;
                }

                tr {
                    cursor: pointer;

                    i {
                        font-size: 28px;
                    }
                }
            }

            .add-btn-wrapper {
                button {
                    border: none;
                    padding: 0px 30px;
                    font-size: 18px;
                    height: 45px;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}