body {
    height: 100vh;
}

button {
    cursor: pointer;
}

.page-title {
    background-color: #e18c38;
    color: white;
    padding: 15px 0px;
}

.solicitation_modal {

    mat-dialog-container {
        background-color: #727376!important;
    }
}