<div id="solicitation-modal">
    <div class="items text-center">
        <div class="item">
            <div class="header">
                <label>{{'common.soybeans' | translate}}</label>
            </div>
            <div class="title">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{'common.owned_area' | translate}}</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{'common.leased_ared' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{info.ownedAreaS}} ha</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{info.leasedAreaS}} ha</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="header">
                <label>{{'common.corn' | translate}}</label>
            </div>
            <div class="title">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{'common.owned_area' | translate}}</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{'common.leased_ared' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{info.ownedAreaC}} ha</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{info.leasedAreaC}} ha</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="header">
                <label>{{'common.wheat' | translate}}</label>
            </div>
            <div class="title">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{'common.owned_area' | translate}}</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{'common.leased_ared' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{info.ownedAreaW}} ha</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{info.leasedAreaW}} ha</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="header">
                <label>{{'common.rice' | translate}}</label>
            </div>
            <div class="title">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{'common.owned_area' | translate}}</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{'common.leased_ared' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <div class="inner">{{info.ownedAreaR}} ha</div>
                    </div>
                    <div class="col-6">
                        <div class="inner">{{info.leasedAreaR}} ha</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>